.progress-bar-vert {
  height: 200px;
  width: 30px;
  background-color: #e0e0de;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  rotate: 180deg;
}

.progress {
  background-color: linear-gradient(to right , "#4caf50", "#81c784");
  transition: height 0.3s ease;
}